@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-geist: "Geist", sans-serif;
}
@font-face {
    font-family: "humane";
    src: url("/public/font/HUMANE/Humane-Bold.otf");
}

.navLinks li {
    @apply px-5 text-center h-full place-content-center;
}
.actionLinks a {
    @apply px-4.5 h-full flex items-center rounded-full;
}

.actionLinks a:nth-child(2) {
    @apply border-2 border-black;
}
.activeNavLink {
    @apply bg-white rounded-full text-black py-0.5;
}
*::-webkit-scrollbar {
    width: 0;
}
.feature-menu {
    @apply bg-cover bg-no-repeat bg-center w-1/7 h-[200px] relative z-20 rounded-2xl;
}
.active-menu {
    @apply h-[300px] w-1/6;
}
.verticalText {
    writing-mode: vertical-rl;
}
.myForm > input {
    @apply border-1 border-black/20 p-2.5 rounded-md focus:outline-0;
}
.alert {
    @apply text-red-500;
}
.filter input,
.filter select {
    @apply border-1 border-black/50;
}

.filter input,
.filter select {
    @apply rounded-md;
}
.activeImage {
    @apply outline-2;
}
.smallSlider {
    @apply shadow-[0_0_2px] shadow-gray-400 rounded-3xl w-1/5 aspect-video bg-center bg-cover bg-no-repeat;
}
.largeSlider {
    @apply shadow-[0_0_2px] shadow-gray-400 rounded-3xl w-full grow bg-center bg-cover bg-no-repeat;
}
